<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
    <script th:replace="fragments/header :: headerElement"></script>
    <script th:replace="fragments/header :: header"></script>
    <script src="js/timer.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="margin-top: 1.5em">
            <h5 align="center">Categories</h5>
            <div class="list-group" th:each="category : ${categories}">
                <div class="btn-group dropright" th:if="(${category.parentId} == 0)">
                    <a th:href="@{/category/{categoryId}(categoryId=${category.id})}" type="button"
                       class="btn btn-light" th:text="${category.name}" style="text-align: left; width: 130px"></a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropright</span>
                    </button>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-10" style="margin-top: 1.5em" th:each="item, iterStat : ${items}"
                 th:with="id='Timer-' + ${iterStat.index}, flameId='flame-' + ${iterStat.index}">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img class="card-img-top" th:src="*{'data:image/png;base64,'+item.encodedImages.get(0)}"
                                     th:alt="${item.title}" style="height: 230px">
                            </div>
                            <div class="col-8">
                                <a th:href="@{item/{itemId}(itemId=${item.id})}"><h5 class="card-title"
                                                                                      th:text="${item.title}"></h5></a>
                                <p class="card-text">Minsk, Belarus</p>
                                <p class="card-text" th:text="'Lot close: ' + ${item.formattedEndTime}"></p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 th:id="${id}" name="timer" class="card-text"
                                                style="margin-top: 4em"></h5>
                                        </div>
                                        <div class="col-4" style="text-align: center; margin-top: 5em">
                                            <span style="color: red">
                                                 <i class="" th:id="${flameId}"
                                                    style="display: inline; margin-right: 1em; margin-top: 4em"></i>
                                            </span>
                                            <h5 th:text="${item.bidCount} + ' bids'"
                                                style="display: inline; margin-top: 4em"></h5>
                                        </div>
                                        <div class="col-4" style="text-align: center">
                                            <h5 class="card-text" th:text="'BYR ' + ${item.price}"
                                                style="margin-top: 4em"></h5>
                                        </div>
                                    </div>
                                </div>
                                <script th:inline="javascript">
                                    var endTime = [[${item.endTime}]];
                                    var id = [[${id}]];
                                    initializeTimer(endTime, id);
                                </script>
                                <script th:inline="javascript">
                                    var id = [[${flameId}]];
                                    var bidCount = [[${item.bidCount}]];
                                    console.log(id);
                                    (function () {
                                        if (bidCount > 5) {
                                            $("#" + id).addClass("fas fa-fire");
                                        }
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>