<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Item</title>
    <script th:replace="fragments/header :: headerElement"></script>
    <script th:replace="fragments/header :: header"></script>
    <script type='application/javascript' src="/webjars/jquery/jquery.min.js"></script>
    <script type='application/javascript' src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type='application/javascript' src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/timer.js"></script>
    <script src="/js/csrf_token.js"></script>
    <script src="/js/bidding.js" sec:authorize="isAuthenticated()"></script>
</head>
<body onload="connect()">
<span id="bidToken" hidden>!bid</span>
<span id="username" sec:authentication="name" hidden/>
<header>
    <script sec:authorize="!isAuthenticated()">
        $(document).ready(function () {
            $("#bidBtn").prop('readonly', true);
            $("#bidBtn").prop('type', 'button');
            $("#bidBtn").attr('data-toggle', 'modal');
            $("#bidBtn").attr('data-target', '#exampleModal');
        });
    </script>
</header>
<div class="container" id="container">
    <div class="card" style="margin: 1.5em auto">
        <div class="card-header" style="text-align: center" th:text="${itemDto.title}"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-fluid" alt="sample" th:each="image : ${itemDto.encodedImages}"
                         th:src="*{'data:image/png;base64,'+image}" style="width:200px; height: 200px">
                </div>
                <div class="col-sm-6">
                    <input type="hidden" id="id" th:value="${itemDto.id}" name="itemId"/>
                    <input type="hidden" id="increment" th:value="${itemDto.increment}"/>
                    <div class="row">
                        <div class="col-6" style="text-align: center">
                            <span class="font-weight-light" id="timerLabel">Lot closes in</span>
                            <h5 class="font-weight-bold" id="timer"></h5>
                            <script th:inline="javascript">
                                let endTime = [[${itemDto.endTime}]];
                                let id = 'timer';
                                initializeTimer(endTime, id);
                            </script>
                        </div>
                        <div class="col-6" style="text-align: center">
                            <span class="font-weight-light">Current bid</span>
                            <h5 class="font-weight-bold" id="currentBid" th:text="'BYR: ' + ${itemDto.price}"></h5>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 2em">
                        <span style="color: red">
                        <i class="fas fa-fire" style="display: inline; margin-right: 0.2em"></i>
                        </span>
                        <p class="font-weight-bold" th:text="${itemDto.bidCount} + ' bids'"
                            style="display: inline"></p>
                        <p class="font-weight-light" th:text="'Next bid ' + (${itemDto.price} + ${itemDto.increment})"></p>
                    </div>
                    <hr style="margin-top: 2em">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-10" style="margin-top: 1.5em">
                        <span>
                            <p class="font-weight-light" id="bidLabel">Bid directly</p>
                        </span>
                            <div class="input-group" style="margin-bottom: 1.5em; width: 350px">
                                <input type="text" id="bid" class="form-control"
                                       th:placeholder="'BYR ' + (${itemDto.price} + ${itemDto.increment})"
                                       th:value="(${itemDto.price} + ${itemDto.increment})" onfocus="this.value=''"/>
                                <div class="input-group-append" id="button-addon4">
                                    <button class="btn btn-warning" type="submit" id="bidBtn">
                                        <i class="fas fa-gavel" style="margin-right: 0.2em"></i>
                                        Place this bid
                                    </button>
                                </div>
                            </div>
                            <span>
                            <p class="font-weight-light" id="autoBidLabel">Place automatic bid</p>
                        </span>
                            <div class="input-group" style="margin-bottom: 1.5em; width: 350px">
                                <input type="text" class="form-control" placeholder="BYR" id="autoBid" name="autoBid"/>
                                <div class="input-group-append" id="button-addon5">
                                    <button class="btn btn-warning" type="submit" id="autoBidBtn"
                                            style="width: 142px">Auto
                                        bid
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form th:action="@{/send-email-to/{itemId}(itemId=${itemDto.id})}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:value="${itemDto.email}" name="to">
            <p>Contacting a seller:</p>
            <input type="text" class="form-control" placeholder="Subject:" name="subject">
            <textarea class="form-control" name="text" style="height: 200px; margin-top: 1.5em"
                      placeholder="Your message:"></textarea>
            <button class="btn btn-info" type="submit" style="alignment: right; margin-top: 1.5em">Send message</button>
        </form>
    </div>
</div>
</body>
</html>